<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="My first api">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <h1>Timestamp Microservice</h1>
      <ul>
	      <li>I can pass a string as a parameter, and it will check to see whether that string contains
	      either a unix timestamp or a natural language date (example: January 1, 2016).</li>
	      <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
	      <li>If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
      </ul>
    </main>
    <div>
      <p class = "ex">Example</p>
      <p class = "example">
        <a href = "https://hot-oatmeal.glitch.me/86400">https://hot-oatmeal.glitch.me/86400</a><br>
        <a href = "https://hot-oatmeal.glitch.me/Jan 1 2015">https://hot-oatmeal.glitch.me/Jan%201%202015</a>
      </p>
    </div>
    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
